name: Audit

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - "Cargo.toml"
      - "Cargo.lock"
      - ".cargo/audit.toml"
  schedule:
    - cron: "0 0 * * *"

jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Cache cargo registry, index and build directory
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/cargo-audit
          key: cargo-audit-${{ runner.os }}
      - uses: actions-rs/audit-check@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
